.flex-all-center{
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn{
   color: white;
   padding: 5px 10px;
   border: 2px solid white;
   background-color: var(--main-bg-color);
   border-radius: 10px;
   cursor: pointer;
}
.btn:hover{
   font-weight:  bold;
    color: rgb(120, 4, 4);
}